# Virtual Environment
ic-img/**
env/
src/

# Unit test / coverage reports
*_TestUnity.py

# Local doc files
doc/

# Python compiled files
*.pyc

# Temporary files
tmp/

# Tool used to locate code tags
find_tags.sh
